<html>

<head lang="en">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="css/vue-multiselect.2.1.0.min.css" />
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/all.min.css" />
	<link rel="stylesheet" href="css/main.css" />
	<title>Positions</title>
</head>

<body>
	<div class="container-fluid" v-bind:class="{ 'dark-mode': darkmode }">
		<!-- SESSION -->
		<div class="row">
			<div class="col-xl-8">
				<h4>Trading sessions</h4>
				<div class="row mt-3">
					<div class="col-xl-3">
						<label>Trade session</label>
						<select v-model="group" class="form-control">
							<option value="null" disabled>Choose...</option>
							<option v-for="group in groups" :key="group.name" :value="group">{{ group.name }}</option>
						</select>
					</div>
					<div class="col-xl-3">
						<div class="form-group">
							<label>New trading session</label>
							<input v-model="groupName" class="form-control" placeholder="E.g. Backtesting 2020/11/28" />
						</div>
						<div v-if="groupName != null && groupName.length > 0" class="form-group">
							<label>Session type</label>
							<select v-model="groupType" class="form-control">
								<option value="null" disabled>Select...</option>
								<option value="study">Study</option>
							</select>
							<small v-if="groupType == 'journal'" class="form-text text-muted">Counts in dollars, tracks actual P&L.</small>
							<small v-if="groupType == 'study'" class="form-text text-muted">Counts in Rs, has case study data collection parameters.</small>
						</div>
						<div v-if="groupName != null && groupName.length > 0 && groupType == 'journal'" class="form-group">
							<label>Starting account balance</label>
							<input v-model="accountBalance" class="form-control" type="number" placeholder="Starting balance.." />
						</div>
					</div>

					<div class="col-xl-6" style="margin-top: 32px;">
						<button v-bind:disabled="isReviewing" v-on:click="addGroup" type="button" class="btn btn-outline-success">Add trade session</button>
						<button v-bind:disabled="isReviewing" v-if="group != null" v-on:click="deleteGroup(group.name)" type="button" class="btn btn-outline-danger">Remove current session</button>
					</div>
				</div>
			</div>
		</div>

		<button v-if="isReviewing" v-on:click="exitReview" class="reviewClose btn btn-sm btn-warning">Close review</button>
		<button v-if="reviewmode" v-on:click="importReview" class="review btn btn-sm btn-primary">Review trades</button>
		<button v-on:click="openSettings" class="settings btn btn-sm btn-primary"><i class="fas fa-cogs"></i></button>
		<input type="file" class="custom-file-input" style="display: none;" id="reviewTrade">
		<!-- /SESSION -->

		<!-- STATISTICS -->
		<div v-show="group != null" class="row" style="margin-top: 50px">
			<div class="col-xl-12">
				<div class="row mb-3">
					<div class="col-xl-12">
						<h4 class="d-inline-block">Statistics for {{ group ? group.type : 'session' }}</h4>
						<button v-on:click="showStats = !showStats" type="button" class="btn btn-sm btn-outline-primary d-inline-block ml-3">
							<span v-if="!showStats">+</span>
							<span v-if="showStats">-</span>
						</button>
					</div>
					<div class="col-xl-12">
						{{ list.length }} trades &raquo; {{ percent(win, list.length) }}% win/be &raquo; {{ r }}R
					</div>
				</div>

				<div v-show="showStats">
					<div class="row mb-5">
						<div class="col-xl-8 offset-xl-2">
							<div style="width: 100%; height: 400px;">
								<canvas id="progress" height="400"></canvas>
							</div>
						</div>
						<div class="col-xl-2">
							<div style="margin-top: 100px;">
								<h6>Max return</h6>
								<span class="text-success">{{ maxReturn }}R</span>
							</div>
							<div class="mt-5">
								<h6>Average return</h6>
								{{ averageReturn }}R
							</div>
							<div class="mt-5">
								<h6>Max drawdown</h6>
								<span class="text-danger">{{ maxDrawDown }}R</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-4">
							<table class="table table-striped">
								<thead>
									<th>Pair</th>
									<th>Total</th>
									<th>Wins</th>
									<th>B/E</th>
									<th>Losses</th>
									<th>Return</th>
								</thead>
								<tbody>
									<tr v-for="pair in bestPairs">
										<td>{{ pair.name }}</td>
										<td>{{ pair.total }}</td>
										<td>{{ percent(pair.win, pair.total) }}% ({{ pair.win }})</td>
										<td>{{ percent(pair.be, pair.total) }}% ({{ pair.be }})</td>
										<td>{{ percent(pair.loss, pair.total) }}% ({{ pair.loss }})</td>
										<td>{{ pair.r }}R</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="col-xl-4">
							<table class="table table-striped">
								<thead>
									<th>Setup</th>
									<th>Total</th>
									<th>Wins</th>
									<th>B/E</th>
									<th>Losses</th>
									<th>Return</th>
								</thead>
								<tbody>
									<tr v-for="setup in bestSetups">
										<td>{{ setup.name }}</td>
										<td>{{ setup.total }}</td>
										<td>{{ percent(setup.win, setup.total) }}% ({{ setup.win }})</td>
										<td>{{ percent(setup.be, setup.total) }}% ({{ setup.be }})</td>
										<td>{{ percent(setup.loss, setup.total) }}% ({{ setup.loss }})</td>
										<td>{{ setup.r }}R</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="col-xl-4">
							<table class="table table-striped">
								<thead>
									<th>Direction</th>
									<th>Total</th>
									<th>Wins</th>
									<th>B/E</th>
									<th>Losses</th>
									<th>Return</th>
								</thead>
								<tbody>
									<tr v-for="direction in bestDirections">
										<td>{{ direction.name }}</td>
										<td>{{ direction.total }}</td>
										<td>{{ percent(direction.win, direction.total) }}% ({{ direction.win }})</td>
										<td>{{ percent(direction.be, direction.total) }}% ({{ direction.be }})</td>
										<td>{{ percent(direction.loss, direction.total) }}% ({{ direction.loss }})</td>
										<td>{{ direction.r }}R</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="row mt-3">
						<div class="col-xl-4">
							<table class="table table-striped">
								<thead>
									<th>Type</th>
									<th>Total</th>
									<th>Wins</th>
									<th>B/E</th>
									<th>Losses</th>
									<th>Return</th>
								</thead>
								<tbody>
									<tr v-for="type in bestTypes">
										<td>{{ type.name }}</td>
										<td>{{ type.total }}</td>
										<td>{{ percent(type.win, type.total) }}% ({{ type.win }})</td>
										<td>{{ percent(type.be, type.total) }}% ({{ type.be }})</td>
										<td>{{ percent(type.loss, type.total) }}% ({{ type.loss }})</td>
										<td>{{ type.r }}R</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="col-xl-4">
							<table class="table table-striped">
								<thead>
									<th>Hour</th>
									<th>Total</th>
									<th>Wins</th>
									<th>B/E</th>
									<th>Losses</th>
									<th>Return</th>
								</thead>
								<tbody>
									<tr v-for="hour in bestHours">
										<td>{{ hour.name }}</td>
										<td>{{ hour.total }}</td>
										<td>{{ percent(hour.win, hour.total) }}% ({{ hour.win }})</td>
										<td>{{ percent(hour.be, hour.total) }}% ({{ hour.be }})</td>
										<td>{{ percent(hour.loss, hour.total) }}% ({{ hour.loss }})</td>
										<td>{{ hour.r }}R</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="col-xl-4">
							<table class="table table-striped">
								<thead>
									<th>Day</th>
									<th>Total</th>
									<th>Wins</th>
									<th>B/E</th>
									<th>Losses</th>
									<th>Return</th>
								</thead>
								<tbody>
									<tr v-for="day in bestDay">
										<td>{{ day.name }}</td>
										<td>{{ day.total }}</td>
										<td>{{ percent(day.win, day.total) }}% ({{ day.win }})</td>
										<td>{{ percent(day.be, day.total) }}% ({{ day.be }})</td>
										<td>{{ percent(day.loss, day.total) }}% ({{ day.loss }})</td>
										<td>{{ day.r }}R</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="row mt-3">
						<div class="col-xl-4">
							<div class="row">
								<div class="col-xl-12">
									<table class="table table-striped">
										<thead>
											<th>Statistic</th>
											<th>Value</th>
										</thead>
										<tbody>
											<tr v-for="stat in generalStats">
												<td>{{ stat.name }}</td>
												<td>{{ stat.value }}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div class="row">
								<div class="col-xl-4">
									<label>Monetary value</label>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text">$</span>
										</div>
										<input v-model="money" type="number" class="form-control" placeholder="Monetary value">
									</div>
								</div>

								<div class="col-xl-4">
									<label>Risk per trade</label>
									<div class="input-group mb-3">
										<input v-model="risk" type="number" class="form-control" placeholder="Risk">
										<div class="input-group-append">
											<span class="input-group-text">%</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /STATISTICS -->

		<!-- TRADES -->
		<template v-if="group != null">
			<h3 style="margin-top: 50px;">Trades</h3>
			<div class="row">
				<div class="col-xl-4">
					<div class="row">
						<div class="col-xl-12">
							<div class="row">
								<div class="col-xl-4">
									<div class="form-group">
										<label>Date</label>
										<input v-model="date" type="datetime-local" class="form-control" />
									</div>
								</div>
								<div class="col-xl-4">
									<div class="form-group">
										<label>Pair</label>
										<select v-model="pair" class="form-control">
											<option value="null" disabled>Choose...</option>
											<option v-for="pair in enabledPairs">{{ pair }}</option>
										</select>
									</div>
								</div>
								<div v-if="skipEntryInput" class="col-xl-4">
									<div class="form-group">
										<label>Entry</label>
										<input type="number" v-model="entry" class="form-control" placeholder="1.000" />
									</div>
								</div>
								<div v-else class="col-xl-4">
									<div class="form-group">
										<label>Target</label>
										<input type="number" v-model="profit" class="form-control" placeholder="Pips.." />
									</div>
								</div>
							</div>
						</div>
					</div>
		
					<div class="row">
						<div class="col-xl-12">
							<div class="row">
								<div class="col-xl-4">
									<div class="form-group">
										<label>Direction</label>
										<select v-model="direction" class="form-control">
											<option value="null" disabled>Choose...</option>
											<option v-for="direction in directions">{{ direction }}</option>
										</select>
									</div>
								</div>
								<div class="col-xl-4">
									<div class="form-group">
										<label>Type</label>
										<select v-model="type" class="form-control">
											<option value="null" disabled>Choose...</option>
											<option v-for="type in types">{{ type }}</option>
										</select>
									</div>
								</div>
								<div class="col-xl-4">
									<div class="form-group">
										<label>Setup</label>
										<select v-model="setup" class="form-control">
											<option value="null" disabled>Choose...</option>
											<option v-for="setup in enabledSetups">{{ setup }}</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3">
					<div class="row">
						<div class="col-xl-4">
							<div class="row">
								<div class="col-xl-12">
									<div class="form-group">
										<label>Stop loss</label>
										<input type="number" v-model="stop" class="form-control" placeholder="Pips.." />
									</div>
								</div>
							</div>
							<div class="row">
								<div v-if="skipEntryInput" class="col-xl-12">
									<div class="form-group">
										<label>Target</label>
										<input type="number" v-model="profit" class="form-control" placeholder="Pips.." />
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-8">
							<div class="form-group">
								<div class="row" style="margin-bottom: .5rem;">
									<div class="col-xl-5">TP Pips</div>
									<div class="col-xl-5">TP % closed</div>
								</div>
								<div v-for="(tp, index) in result" class="row mb-2">
									<div class="col-xl-5 pr-0">
										<input type="number" v-model="tp.pips" class="form-control" v-bind:placeholder="'TP' + (index + 1) + ' pips'" :key="index" />
									</div>
									<div class="col-xl-5 pl-1">
										<input type="number" v-model="tp.closed" class="form-control" v-bind:placeholder="'TP' + (index + 1) + ' % closed'" :key="index" />
									</div>
									<div class="col-xl-2 pl-0 pr-0">
										<button v-on:click="result.push({pips: null, closed: null})" type="button" class="btn btn-xs btn-outline-primary display-inline-block">+</button>
										<button v-if="index > 0" v-on:click="result.splice(index)" type="button" class="btn btn-xs btn-outline-danger display-inline-block">-</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-xl-4">
					<div class="row">
						<div class="col-xl-5">
							<div v-if="skipBeforeScreenshotInput" class="row">
								<div class="col-xl-12">
									<div class="form-group">
										<label>Before</label>
										<input v-model="before" class="form-control" placeholder="https://www.tradingview.com/x/QG1DNPUc/" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xl-12">
									<div class="form-group">
										<label>After</label>
										<input v-model="after" class="form-control" placeholder="https://www.tradingview.com/x/QG1DNPUc/" />
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-7">
							<div class="row">
								<div class="col-xl-12">
									<div class="form-group">
										<label>Tags</label>
										<vueselect v-model="tradeTags" tag-placeholder="Add this as new tag" placeholder="Search or add a tag" label="name" track-by="code" :options="tags" :multiple="true" :taggable="true" @tag="addTag"></vueselect>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xl-12">
									<div class="form-group">
										<label>Notes</label>
										<textarea v-model="notes" class="form-control" placeholder="Notes..." rows="2"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-1">
					<button v-bind:disabled="isReviewing" v-on:click="addTrade" type="button" class="btn btn-outline-success" style="margin-top: 32px;">Add trade</button>
				</div>
			</div>


			<!-- FILTER -->
			<div class="row" style="margin-top: 10px">
				<div class="col-xl-12">
					<div class="row mb-3">
						<div class="col-xl-12">
							<h4 class="d-inline-block">Filters</h4>
							<button v-on:click="showFilters = !showFilters" type="button" class="btn btn-sm btn-outline-primary d-inline-block ml-3">
								<span v-if="!showFilters">+</span>
								<span v-if="showFilters">-</span>
							</button>
						</div>
						<div class="col-xl-12 mt-1">
							<template v-if="activeFilters.length == 0">
								No filters active
							</template>
							<template v-else>
								<span v-for="filter in activeFilters" class="badge badge-primary mr-1">{{ filter }}</span>
							</template>
						</div>
					</div>
			
					<template v-if="showFilters">
						<div class="row mb-3">
							<div class="col-xl-2">
								<div class="form-group">
									<label>Pair</label>
									<vueselect v-model="filteredPairs" :options="pairs" :multiple="true"></vueselect>
								</div>
								<div class="form-group">
									<label>Direction</label>
									<vueselect v-model="filteredDirections" :options="directions" :multiple="true"></vueselect>
								</div>
							</div>
					
							<div class="col-xl-2">
								<div class="form-group">
									<label>Type</label>
									<vueselect v-model="filteredTypes" :options="types" :multiple="true"></vueselect>
								</div>
								<div class="form-group">
									<label>Setup</label>
									<vueselect v-model="filteredSetups" :options="setups" :multiple="true"></vueselect>
								</div>
							</div>
					
							<div class="col-xl-2">
								<div class="form-group">
									<label>Day of week</label>
									<vueselect v-model="filteredDays" :options="daysOptions" :multiple="true"></vueselect>
								</div>
								<div class="form-group">
									<label>Hour of day</label>
									<vueselect v-model="filteredHours" :options="hoursOptions" :multiple="true" placeholder="Select"></vueselect>
								</div>
							</div>
					
							<div class="col-xl-2">
								<div class="form-group">
									<label>Result</label>
									<vueselect v-model="filteredResults" :options="resultOptions" :multiple="true" placeholder="Select"></vueselect>
								</div>
								<div class="form-group">
									<label>Tags</label>
									<vueselect v-model="filteredTags" :options="tags.map((tag) => tag.name)" :multiple="true" placeholder="Select"></vueselect>
								</div>
							</div>

							<div class="col-xl-2">
								<div class="form-group">
									<label>Start date <button v-if="filteredStartDate != null" v-on:click="filteredStartDate = null" class="btn btn-sm btn-danger" style="width: 15px;height: 15px;line-height: 6px;padding: 0;font-size: 11px;">x</button></label>
									<input v-model="filteredStartDate" type="datetime-local" class="form-control form-control" />
								</div>
							</div>

							<div class="col-xl-2">
								<div class="form-group">
									<label>End date <button v-if="filteredEndDate != null" v-on:click="filteredEndDate = null" class="btn btn-sm btn-danger" style="width: 15px;height: 15px;line-height: 6px;padding: 0;font-size: 11px;">x</button></label>
									<input v-model="filteredEndDate" type="datetime-local" class="form-control form-control" />
								</div>
							</div>
						</div>
					</template>
				</div>
			</div>
			<!-- /FILTER -->
			
			<div class="row mt-3">
				<div class="col-xl-12">
					<table class="table table-striped">
						<thead>
							<th>#</th>
							<th>Date</th>
							<th>Pair</th>
							<th>Direction</th>
							<th>Type</th>
							<th>Setup</th>
							<th v-if="skipEntryInput">Entry price</th>
							<th>Stop loss</th>
							<th>Target</th>
							<th>Result</th>
							<th>Notes</th>
							<th v-if="skipBeforeScreenshotInput">Before</th>
							<th>
								<template v-if="!skipBeforeScreenshotInput">Screenshot</template>
								<template v-else>After</template>
							</th>
							<th>Tags</th>
							<th class="text-center">Edit</th>
						</thead>
						<tbody>
							<tr v-for="(trade, index) in list" :key="trade.id">
								<td width="2%">{{ list.length - index }}</td>
								<td width="11%">{{ trade.date }}</td>
								<td width="8%">{{ trade.pair }}</td>
								<td width="6%">{{ trade.direction }}</td>
								<td width="9%">{{ trade.type }}</td>
								<td width="8%">{{ trade.setup }}</td>
								<td v-if="skipEntryInput" width="6%">{{ trade.entry }}</td>
								<td width="6%">{{ trade.stop }} pips</td>
								<td width="6%">{{ trade.profit }} pips</td>
								<td width="8%">
									<div v-bind:class="{'text-success': trade.r > 0, 'text-warning': trade.r == 0, 'text-danger': trade.r < 0}">
										<div class="d-inline-block">
											<template v-if="trade.result.length == 1">
												<span>
													{{ trade.pips[0] }} pips
												</span>
											</template>
											<template v-else>
												<span 
													v-for="result in trade.result"
													v-bind:class="{'text-success': result.pips > 0, 'text-warning': result.pips == 0, 'text-danger': result.pips < 0}"
													class="d-block mb-1"
													style="font-size: 0.6em;">
													{{ result.pips }} pips &raquo; {{ result.closed * 100 }}%
												</span>
											</template>
										</div>
										<div class="d-inline-block float-right">{{ trade.r }}R</div>
									</div>
								</td>
								<td width="6%" class="notes-container">
									<button v-if="trade.notes" v-on:click="showNotes(trade.notes)" type="button" class="btn btn-sm btn-link m-0 p-0">Notes</button>
								</td>
								<td v-if="skipBeforeScreenshotInput" width="6%">
									<a v-if="trade.before" v-bind:href="trade.before" target="_blank">Before</a>
								</td>
								<td width="6%">
									<a v-if="trade.after" v-bind:href="trade.after" target="_blank">
										<template v-if="skipBeforeScreenshotInput">Screenshot</template>
										<template v-else>After</template>
									</a>
								</td>
								<td width="4%">
									<span 
									v-for="tag in (trade.tags ?? [])"
									class="d-block"
									style="font-size: 0.6em;">
									{{ tag.name }}</span>
								</td>
								<td width="8%" class="text-right">
									<button v-bind:disabled="isReviewing" v-on:click="editTrade(index, trade)" type="button" class="btn btn-sm btn-outline-primary">
										Edit
									</button>
									<button v-bind:disabled="isReviewing" v-on:click="deleteTrade(trade.id)" type="button" class="btn btn-sm btn-outline-danger">Delete</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</template>
		<!-- /TRADES -->

		<!-- MODAL -->
		<div class="modal" id="note-modal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Notes for trade</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>{{ tradeNotes}}</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal" id="settings-modal" tabindex="-1">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Settings</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row mt-3">
							<div class="col-xl-10"><h6>Dark mode</h6></div>
							<div class="col-xl-2 text-right"><input v-model="darkmode" type="checkbox" class="form-check-input" /></div>
						</div>

						<div class="row mt-3">
							<div class="col-xl-10"><h6>Skip entry price specification (studies only)</h6></div>
							<div class="col-xl-2 text-right"><input v-model="skipEntry" type="checkbox" class="form-check-input" /></div>
						</div>

						<div class="row mt-3">
							<div class="col-xl-10"><h6>Skip "before" screenshot for studies</h6></div>
							<div class="col-xl-2 text-right"><input v-model="skipBeforeScreenshot" type="checkbox" class="form-check-input" /></div>
						</div>
						
						<div class="row mt-3">
							<div class="col-xl-10"><h6>Enable review mode</h6></div>
							<div class="col-xl-2 text-right"><input v-model="reviewmode" type="checkbox" class="form-check-input" /></div>
						</div>

						<div class="row mt-3">
							<div class="col-xl-8"><h6>Backup</h6></div>
							<div class="col-xl-4 text-right">
								<button v-bind:disabled="isReviewing" v-on:click="backup" class="btn btn-sm btn-primary">Backup</button>
								<button v-bind:disabled="isReviewing" v-on:click="restore" class="btn btn-sm btn-danger">Restore</button>
								<input type="file" class="custom-file-input" style="display: none;" id="restoreBackup">
							</div>
						</div>

						<div class="row mt-3">
							<div class="col-xl-8"><h6>Excel export</h6></div>
							<div class="col-xl-4 text-right">
								<button v-bind:disabled="isReviewing" v-on:click="excel" class="btn btn-sm btn-primary">Export</button>
							</div>
						</div>

						<div class="row mt-5">
							<div class="col-xl-3">
								<h6 class="mb-0">Pairs</h6>
								<span class="text-muted" style="font-size: 10px;">(Click pair to toggle on/off)</span>
							</div>
							<div class="col-xl-9 text-right">
								<input v-model="newPair" class="form-control form-control-sm d-inline-block" style="width: 30%;" type="text" placeholder="New pair..." />
								<button v-bind:disabled="isReviewing" v-on:click="addPair" class="btn btn-sm btn-success d-inline-block ml-2" style="width: 15%;">Add pair</button>
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-xl-12">
								<span v-for="pair in pairs"
									  v-on:click="togglePair(pair)"
									  v-bind:class="{ 'badge-success': !disabledPairs.includes(pair) }"
									  class="badge mr-2 mb-2">{{ pair }}
									
									  <i v-if="customPairs.includes(pair)" v-on:click="removePair(pair)" class="fas fa-times ml-2" style="color: black; cursor: pointer;"></i>
									</span>
							</div>
						</div>

						<div class="row mt-5">
							<div class="col-xl-3">
								<h6 class="mb-0">Setups</h6>
								<span class="text-muted" style="font-size: 10px;">(Click setup to toggle on/off)</span>
							</div>
							<div class="col-xl-9 text-right">
								<input v-model="newSetup" class="form-control form-control-sm d-inline-block" style="width: 30%;" type="text" placeholder="New setup..." />
								<button v-bind:disabled="isReviewing" v-on:click="addSetup" class="btn btn-sm btn-success d-inline-block ml-2" style="width: 15%;">Add setup</button>
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-xl-12">
								<span v-for="setup in setups"
									  v-on:click="toggleSetup(setup)"
									  v-bind:class="{ 'badge-success': !disabledSetups.includes(setup) }"
									  class="badge mr-2 mb-2">{{ setup }}
									
									  <i v-if="customSetups.includes(setup)" v-on:click="removeSetup(setup)" class="fas fa-times ml-2" style="color: black; cursor: pointer;"></i>
									</span>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal" id="edit-modal" tabindex="-1">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Edit</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div v-if="currentEditTrade != null" class="modal-body">
						<div class="row mb-2">
							<div class="col-xl-4">
								<div class="form-group">
									<label>Date</label>
									<input v-model="currentEditTrade.date" type="datetime-local" class="form-control" />
								</div>
							</div>

							<div class="col-xl-4">
								<div class="form-group">
									<label>Pair</label>
									<select v-model="currentEditTrade.pair" class="form-control">
										<option value="null" disabled>Choose...</option>
										<option v-for="pair in enabledPairs">{{ pair }}</option>
									</select>
								</div>
							</div>

							<div class="col-xl-4">
								<div class="form-group">
									<label>Entry</label>
									<input type="number" v-model="currentEditTrade.entry" class="form-control" placeholder="1.000" />
								</div>
							</div>
						</div>

						<div class="row mb-2">
							<div class="col-xl-4">
								<div class="form-group">
									<label>Direction</label>
									<select v-model="currentEditTrade.direction" class="form-control">
										<option value="null" disabled>Choose...</option>
										<option v-for="direction in directions">{{ direction }}</option>
									</select>
								</div>
							</div>

							<div class="col-xl-4">
								<div class="form-group">
									<label>Type</label>
									<select v-model="currentEditTrade.type" class="form-control">
										<option value="null" disabled>Choose...</option>
										<option v-for="type in types">{{ type }}</option>
									</select>
								</div>
							</div>

							<div class="col-xl-4">
								<div class="form-group">
									<label>Setup</label>
									<select v-model="currentEditTrade.setup" class="form-control">
										<option value="null" disabled>Choose...</option>
										<option v-for="setup in enabledSetups">{{ setup }}</option>
									</select>
								</div>
							</div>
						</div>

						<div class="row mb-2">
							<div class="col-xl-6">
								<div v-if="skipBeforeScreenshotInput" class="row">
									<div class="col-xl-12">
										<div class="form-group">
											<label>Screenshot before</label>
											<input v-model="currentEditTrade.before" class="form-control" placeholder="https://www.tradingview.com/x/QG1DNPUc/" />
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xl-12">
										<div class="form-group">
											<label>Screenshot after</label>
											<input v-model="currentEditTrade.after" class="form-control" placeholder="https://www.tradingview.com/x/QG1DNPUc/" />
										</div>
									</div>

									<div class="col-xl-12">
										<div class="form-group">
											<label>Tags</label>
											<vueselect v-model="currentEditTrade.tags" tag-placeholder="Add this as new tag" placeholder="Search or add a tag" label="name" track-by="code" :options="tags" :multiple="true" :taggable="true" @tag="addTag"></vueselect>
										</div>
									</div>
								</div>
							</div>
							
							<div class="col-xl-6">
								<div class="form-group">
									<label>Notes</label>
									<textarea v-model="currentEditTrade.notes" class="form-control" placeholder="Notes..." rows="4"></textarea>
								</div>
							</div>
						</div>

						<div class="row mb-2">
							<div class="col-xl-3">
								<label>Stop loss</label>
								<input type="number" v-model="currentEditTrade.stop" class="form-control" placeholder="Pips.." />
							</div>
							<div class="col-xl-3">
								<label>Target</label>
								<input type="number" v-model="currentEditTrade.profit" class="form-control" placeholder="Pips.." />
							</div>
							<div class="col-xl-6">
								<div class="row" style="margin-bottom: .5rem;">
									<div class="col-xl-5">TP Pips</div>
									<div class="col-xl-5">TP % closed</div>
								</div>
								<div v-for="(tp, index) in currentEditTrade.result" class="row mb-2">
									<div class="col-xl-5 pr-0">
										<input type="number" v-model="tp.pips" class="form-control" v-bind:placeholder="'TP' + (index + 1) + ' pips'" :key="index" />
									</div>
									<div class="col-xl-5 pl-1">
										<input type="number" v-model="tp.closed" class="form-control" v-bind:placeholder="'TP' + (index + 1) + ' % closed'" :key="index" />
									</div>
									<div class="col-xl-2 pl-0 pr-0">
										<button v-on:click="currentEditTrade.result.push({pips: null, closed: null})" type="button" class="btn btn-xs btn-outline-primary display-inline-block">+</button>
										<button v-if="index > 0" v-on:click="currentEditTrade.result.splice(index)" type="button" class="btn btn-xs btn-outline-danger display-inline-block">-</button>
									</div>
								</div>
							</div>
						</div>
							
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Save</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal" id="login-modal" tabindex="-1">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">We've upgraded the application!</h5>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-xl-12">
								<p>
									Hi!<br />On popular demand, we've updated the application to be able to save the data in the cloud so you can access it on all of your devices.
									You can choose to login with a social account, or keep using the locally saved data if you do not want to login.
									You can always chose to login later, from the settings icon to the top right.
								</p>
								<p>
									If you chose to login with a social account, your current data will be automatically transfered to the cloud.
								</p>
							</div>
						</div>
						<div class="row mt-5">
							<div class="col-xl-12 text-center">
								<button v-on:click="useLocalStorage()" class="btn btn-secondary mr-2">Locally stored data</button>
								<button v-bind:disabled="loggingIn" v-on:click="loginWithGoogle()" class="btn btn-warning mr-2">Login with Google</button>
								<button v-bind:disabled="loggingIn" v-on:click="loginWithFacebook()" class="btn btn-primary">Login with Facebook</button>
							</div>
						</div>
						<div class="row mt-5">
							<div class="col-xl-12 text-center" style="font-size: 10px;">
								<a href="#" v-on:click="clearLoginData()">Im having problems with my login, please clear the data.</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /MODAL -->
	</div>

	<script src="js/firebase-app-9.0.2.js"></script>
	<script src="js/firebase-auth-9.0.2.js"></script>
	<script src="js/axios-0.21.4.min.js"></script>
	<script src="js/chartjs-2.9.4.min.js"></script>
	<script src="js/vuejs.2.6.12.js"></script>
	<script src="js/jquery-3.5.1.slim.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/moment.2.29.1.js"></script>
	<script src="js/lodash-4.17.15.min.js"></script>
	<script src="js/vue-multiselect.2.1.0.min.js"></script>
	<script src="repository.js"></script>
	<script src="main.js"></script>
</body>

</html>